.AghanimTopBar {
  width: 1050px;
  //height: 50px;
  horizontal-align: center;
  vertical-align: top;
  //background-image: url("s2r://panorama/images/interface/top_bar_inactive_psd.vtex");

  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -12px;
  z-index: -100;
}

#MovingOverlay {
  width: 100%;
  height: 100%;
  horizontal-align: center;
  vertical-align: top;
  background-image: url("s2r://panorama/images/interface/top_bar_active_masked_psd.vtex");

  background-size: contain;
  background-repeat: no-repeat;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 0.4s;
  opacity: 0;
}

.Moving #MovingOverlay {
  opacity: 1;
}

#KillCount {
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: RadianceM;
  height: 38px;
  width: 50px;
  text-align: center;
  margin-top: 7px;
  margin-left: 5px;
}

#RoshContainer {
  horizontal-align: center;
  /* width: 220px; */
  width: 0px;
  z-index: 500;
  flow-children: down;
}

#CompetitionBlock {
  margin: 5px;
  width: 10%;
  visibility: collapse;
}

#PlayersBlock {
  margin-top: 10px;
  margin-right: 40px;
  horizontal-align: right;
  width: 0px;
  /* width: 500px; */

  flow-children: left;
}

#TopBarLeftFlare {
  background-image: url("s2r://panorama/images/hud/reborn/header_endcap_psd.vtex");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 70px;
  transform: scaleX(-1);
}

#PartyPortraits {
  flow-children: right;
}

#TimeBlock {
  width: 200px;
  height: 100%;
  flow-children: down;
}

#EnemyContainer {
  margin-top: 12px;
  flow-children: down;
  horizontal-align: right;
  margin-right: 55px;
  height: 65px;
  width: 500px;
}

.TeamRow {
  flow-children: right;
  horizontal-align: right;
}

.TeamContainer {
  padding-top: 1px;
  padding-left: -1px;
  padding-right: -1px;
  padding-bottom: -2px;
  flow-children: right;
  margin: 2px;
  saturation: 0.95;
}

.TeamContainer.TeamEliminated {
  saturation: 0.05;
}

.EnemyRemainingImage {
  height: 26px;
  width: 26px;
  margin: 0px;
  margin-left: -1px;
  margin-right: -2px;
  saturation: 0.01;
  wash-color: grey;
}

.EnemyRemainingImage.Alive {
  wash-color: none;
  saturation: 1;
}

.EnemyRemainingImage.Eliminated {
  wash-color: #880000;
}

#RoomInfo {
  horizontal-align: right;
  margin: 10px;
  margin-bottom: 0px;
  width: 40%;
  visibility: collapse;
}

#GameTimer,
#BestRunInfo,
#BestRunRelInfo,
#NewPersonalBest,
#DepthLabel {
  color: white;
  font-weight: bold;
  text-overflow: shrink;

  horizontal-align: center;
  vertical-align: center;
  text-shadow: 1px 1px 2px 2 #00000011;

  font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

#DepthLabel {
  visibility: collapse;
  text-transform: uppercase;
}

#DepthLabel.ShowDepth {
  visibility: visible;
}

#GameTimer {
  font-size: 16px;
  vertical-align: top;
  margin-top: 16px;
  border: 2px grey;
}

.BestRunContainer {
  visibility: collapse;
  flow-children: right;
  horizontal-align: center;
}

#BestRunInfo,
#BestRunRelInfo,
#NewPersonalBest {
  font-size: 18px;
  text-transform: uppercase;
}

#NewPersonalBest {
  visibility: collapse;
}

.IsInTournamentMode.FasterRun #BestRunRelInfo {
  color: #88ff88;
}

.IsInTournamentMode:not(.FasterRun) #BestRunRelInfo {
  color: #ff8888;
}

#NewPersonalBest {
  color: #88ff88;
}

.IsInTournamentMode.HasComparisonData .BestRunContainer,
.IsInTournamentMode.DeepestRun #NewPersonalBest {
  visibility: visible;
}

#RoshText {
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  opacity: 0;
}

.AboutToMove #RoshText {
  opacity: 1;
}

.RoomDifficultyIcon {
  width: 20px;
  height: 20px;
  box-shadow: fill #000000af -3px -3px 6px 6px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;

  saturation: 1;
  wash-color: #fff;
  contrast: 1;
  transform: translateY(0px);
  opacity: 0;

  transition-property: saturation, wash-color, transform, box-shadow, contrast;
  transition-timing-function: ease-out;
  transition-duration: 0.4s;

  background-image: url("s2r://panorama/images/interface/minimap_boss_icon_png.vtex");
  background-position: center;
  background-size: contain;
}

#DifficultyContainer {
  horizontal-align: right;
  vertical-align: center;
  margin-top: 5px;
  height: 100%;
}

#Difficulty1 {
  opacity: 1;
}

.2skull #Difficulty2 {
  opacity: 1;
}

.3skull #Difficulty3 {
  opacity: 1;
}

.4skull #Difficulty4 {
  opacity: 1;
}

.5skull #Difficulty5 {
  opacity: 1;
}

#TitleContainer {
  width: 100%;
}

#RoomTitle,
#RoomInstructions {
  color: white;
  font-weight: bold;

  horizontal-align: left;
  vertical-align: center;
  text-shadow: 1px 1px 2px 2 #00000011;

  font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
  font-size: 14px;
  letter-spacing: 2px;
}

#RoomTitle {
  font-size: 20px;
}

.ScoreContainer {
  flow-children: down;
}

#EarnedBPContainer {
  vertical-align: bottom;
  width: 242px;
  height: 45px;
  margin-top: 10px;
  margin-left: -5px;
  horizontal-align: left;
  flow-children: right;
  padding: 8px 0;
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#000000ef),
    to(#00000000)
  );
}

#EarnedBP,
#EarnedBPAmount {
  margin-left: 2px;
  color: #2faf69;
  font-weight: bold;
  text-shadow: 1px 1px 2px 2 #00000011;
  font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
  font-size: 17px;
  letter-spacing: 2px;
  vertical-align: middle;
}

#EarnedBP {
  margin-left: 5px;
}

#EarnedBPAmount {
  color: white;
}

#BPIcon {
  margin-left: 18px;
  height: 20px;
  width: 20px;
  background-image: url("s2r://panorama/images/compendium/international2018/totalpoints_psd.vtex");
  background-position: center;
  background-size: cover;
}

#RoshMovingFX {
  height: 512px;
  width: 512px;

  horizontal-align: middle;
  opacity: 0;
  margin-top: -70px;
}

.Moving #RoshMovingFX {
  opacity: 1;
}

// Enrage Timer

#EnrageTimerContainer {
  width: 600px;
  horizontal-align: center;
  margin-top: 60px;
  visibility: collapse;
  flow-children: down;
}

#EnrageTimerContainer.Visible {
  visibility: visible;
}

#EnrageTimerHP {
  width: 710px;
  horizontal-align: center;
  vertical-align: top;
  flow-children: down;
}

#EnrageTimerLabel {
  horizontal-align: center;
  vertical-align: bottom;
  text-align: center;
  text-shadow: 1px 1px 2px 3 #000000;
  font-size: 25px;
  color: white;
}

#EnrageTimerProgressBar {
  width: 80%;
  border-radius: 4px;
  border: 3px solid #444;
  background-color: black;
  height: 24px;
  vertical-align: center;
  horizontal-align: center;
  box-shadow: fill #000 -3px -3px 6px 6px;
}

#EnrageTimerProgressBar_Left {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#326114),
    color-stop(0.3, #54ba07),
    color-stop(0.5, #54ba07),
    to(#326114)
  );
  box-shadow: inset #000 1px 1px 3px 3px;
  border-radius: 2px;
}

#EnrageTimerProgressBar_Left {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#320000),
    color-stop(0.3, #ff4a07),
    color-stop(0.5, #ff4a07),
    to(#320000)
  );
}

#EnrageTimerProgressBar_Right {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#222222ff),
    to(black)
  );
}
