@import url("s2r://panorama/styles/battle_pass/international2020/bp_international2020_shared.css");

@define arcane_fragments_icon: url("s2r://panorama/images/events/aghanim/aghanims_blessings_png.vtex");
@define battle_points_icon: url("s2r://panorama/images/events/aghanim/battle_points_png.vtex");

@define RoomDiscoverTransitionTime: 1.2s;

@define single_room_margin: 125px;
@define double_room_margin: 250px;
@define triple_room_margin: 375px;

@define common_rarity_color: #88A6D9;
@define elite_rarity_color: #D02B29;
@define legendary_rarity_color: #7266FF;
@define aghanims_room_color: #3375FF;
@define transition_room_color: #FABE23;
@define trap_room_color: #7266FF;
@define bonus_room_color: #FF7F37;

.CustomHudRoot {
  width: 100%;
  height: 100%;
}
#UpgradesWiki2 {
  visibility: collapse;
  width: 850px;
  height: 650px;
  flow-children: down;
  vertical-align: top;
  horizontal-align: center;
  margin-top: 200px;
  /* background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#48495c),
    color-stop(0.5, #30313d),
    to(#1b1b21)
  ); */

  overflow: noclip;

  background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_rubick/debut_bg_loadout_psd.vtex");
  background-size: 980px 750px;

  background-repeat: no-repeat;
  background-position: center;
}
#UpgradesWikiHeader2 {
  font-size: 28px;
  color: rgb(159, 205, 221);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: Goudy Trajan Medium;
  letter-spacing: 2px;
  vertical-align: top;
  margin-top: -50px;
  horizontal-align: center;
  text-shadow: 0px -5px 10px 0 #59abdd7b;
}
#UpgradesWikiSubheader2 {
  font-size: 12px;
  color: rgb(159, 205, 221);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Goudy Trajan Medium;
  letter-spacing: 2px;
  vertical-align: top;
  margin-top: 3px;
  horizontal-align: center;
}
#UpgradesWikiScenePanel2 {
  horizontal-align: center;
  opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
  margin-top: -200px;
}

#UpgradesWikiContainer2 {
  width: 100%;
  height: fit-children;
  /* height: 100%; */
  /* background-color: black; */
  flow-children: down;
  horizontal-align: center;
}
/* //////////////////////////////////////////////////////// */

#UpgradesWiki {
  visibility: collapse;
  width: 850px;
  height: 650px;
  flow-children: down;
  vertical-align: top;
  horizontal-align: center;
  margin-top: 200px;
  /* background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#48495c),
    color-stop(0.5, #30313d),
    to(#1b1b21)
  ); */

  overflow: noclip;

  background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_rubick/debut_bg_loadout_psd.vtex");
  background-size: 980px 750px;

  background-repeat: no-repeat;
  background-position: center;
}
#UpgradesWikiHeader {
  font-size: 28px;
  color: rgb(159, 205, 221);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: Goudy Trajan Medium;
  letter-spacing: 2px;
  vertical-align: top;
  margin-top: -50px;
  horizontal-align: center;
  text-shadow: 0px -5px 10px 0 #59abdd7b;
}
#UpgradesWikiSubheader {
  font-size: 12px;
  color: rgb(159, 205, 221);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Goudy Trajan Medium;
  letter-spacing: 2px;
  vertical-align: top;
  margin-top: 3px;
  horizontal-align: center;
}
#UpgradesWikiScenePanel {
  horizontal-align: center;
  opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
  margin-top: -200px;
  ui-scale: 100%;
  transition-property: brightness;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
}
#UpgradesWikiScenePanel:hover {
  brightness: 5;
}
#UpgradesWikiScenePanel:active {
  sound: "General.ButtonClick";
  brightness: 10;
}

#UpgradesWikiContainer {
  margin-top: 0px;
  height: fit-children;
  width: 150%;
  /* height: 100%; */
  /* background-color: black; */
  flow-children: right-wrap;
}
.UpgradesWikiBody2 {
  overflow: squish scroll;
  width: 715px;
  horizontal-align: center;
  /* background-color: blue; */
  height: 470px;
  /* flow-children: down; */
  margin-top: 35px;
  /* margin-left: 35px; */
  vertical-align: top;
}
/* /////////////////////////////// */
/* #WikiOffButton {
  width: 30px;
  height: 30px;
  horizontal-align: right;
  vertical-align: top;
  background-image: url("s2r://panorama/images/cancel_search_png.vtex");
  background-size: contain;
  margin-top: -690px;
  margin-right: 75px;
  background-color: black;
} */
#WikiOffButton {
  horizontal-align: right;
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin-right: 75px;
  margin-top: -80px;
  background-image: url("s2r://panorama/images/cancel_search_png.vtex");
  background-size: contain;
}
#WikiOffButton:active {
  sound: "General.ButtonClick";
}
#WikiOffButton:hover {
  brightness: 3;
}
#WikiOffButton2 {
  width: 30px;
  height: 30px;
  horizontal-align: right;
  vertical-align: top;
  background-image: url("s2r://panorama/images/control_icons/arrow_solid_down_png.vtex");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -590px;
  margin-right: 75px;
}
#WikiOffButton2:active {
  sound: "General.ButtonClick";
  brightness: 3;
}

/* /////////////////////////////// */
#WikiHomeButton {
  width: 120px;
  height: 120px;
  horizontal-align: left;
  vertical-align: top;
  background-image: url("s2r://panorama/images/events/aghanim/blessing_icons/blessing_book_agility_png.vtex");
  background-size: 100% 100%;
  margin-top: 50px;
  margin-left: 10px;
  visibility: collapse;
}
#WikiHomeButton:active {
  background-image: url("s2r://panorama/images/events/aghanim/blessing_icons/blessing_book_intelligence_png.vtex");
  sound: "General.ButtonClick";
}
/* /////////////////////////////// */
.HeroHomeScenePanel {
  horizontal-align: center;
  vertical-align: center;
  opacity-mask: url("s2r://panorama/images/masks/diretide_postgame_fx_png.vtex");
  overflow: noclip;
  margin-bottom: 20px;
  ui-scale: 100%;
  transition-property: ui-scale, brightness;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.HeroHomeScenePanel:hover {
  brightness: 2;
}
.HeroHomeScenePanel:active {
  sound: "General.ButtonClick";
  ui-scale: 150%;
}
.HeroHomeNameplate {
  width: 250px;
  height: 300px;
  vertical-align: top;
  /* background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#373d45),
    to(#4d5860)
  ); */

  padding: 0 0;
  transition-property: brightness;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  /* overflow: noclip; */
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.HeroHomeNameplate:hover {
  brightness: 1.5;
}
.HeroHomeNameplate:active {
  sound: "ui.books.pageturns";
}
.HeroHomeNameplate Label {
  margin-bottom: 05px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
  horizontal-align: center;
  vertical-align: bottom;
  text-shadow: 0px -3px 10px 1 #46e6ff;

  transition-property: color;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;

  font-size: 15px;
  font-family: Goudy Trajan Medium;
  text-overflow: shrink;
}

.UpgradesWikiBody {
  overflow: squish scroll;
  width: 715px;
  horizontal-align: center;
  /* background-color: blue; */
  height: 555px;
  /* flow-children: down; */
  margin-top: 45px;
  /* margin-left: 35px; */
  vertical-align: top;
  padding-left: 10px;
}
.WikiEntryContainer {
  width: 660px;
  height: 140px;
  horizontal-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#1a374e),
    color-stop(0.5, #223236),
    to(#1d2a33)
  );
  box-shadow: #73dcff80 0px 4px 8px 0px;
  margin-bottom: 30px;
}

.WikiEntryImage {
  width: 140px;
  height: 150px;
  horizontal-align: left;
  vertical-align: center;
  /* background-color: white; */
  opacity-mask: url("s2r://panorama/images/hero_relics/hero_relic_rare_empty_opacity_mask_psd.vtex");
  /* opacity-mask: url("s2r://panorama/images/hero_relics/hero_relic_rare_mask_psd.vtex"); */
  border: 10px solid #70698130;
  background-position: center;
}
.WikiEntryImageOverlay {
  width: 140px;
  height: 150px;
  horizontal-align: left;
  background-color: #c2e8f5;
  vertical-align: center;
  /* opacity-mask: url("s2r://panorama/images/hero_relics/hero_relic_rare_empty_opacity_mask_psd.vtex"); */
  opacity-mask: url("s2r://panorama/images/hero_relics/h_hero_relic_rare_topbottombrightness_mask_psd.vtex");
  opacity: 0.15;
  background-position: center;
}

.WikiEntryName {
  font-size: 20px;
  color: rgb(159, 205, 221);
  text-transform: uppercase;
  text-align: left;
  font-weight: semibold;
  /* font-family: Goudy Trajan Medium; */
  letter-spacing: 2px;
  vertical-align: top;
  horizontal-align: left;
  margin-left: 145px;
  margin-top: 15px;
}
.WikiEntryDesc {
  font-size: 16px;
  color: #ccc;
  text-align: left;
  /* font-family: Liberation; */
  vertical-align: top;
  horizontal-align: left;
  margin-left: 145px;
  margin-top: 40px;
  width: 510px;
  letter-spacing: 0px;
}

#SpectatorChat {
  vertical-align: top;
  horizontal-align: center;
  font-family: Radiance;
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
  width: 700px;
  text-shadow: 2px 2px 8px 3 #000000;
  color: white;
}

.CustomHudContents {
  width: 100%;
  height: 100%;
}

#RoomDiscoverPanel {
  width: 100%;
  margin-top: 60px;

  flow-children: right;
  vertical-align: top;

  visibility: collapse;
}

#RoomDiscoverPanel.Visible {
  visibility: visible;
}

.RoomDiscoverCenterBlock {
  flow-children: right;
}

.RoomDiscoverSpacer {
  width: fill-parent-flow(1);
  transition-property: width;
  transition-duration: RoomDiscoverTransitionTime;
  transition-timing-function: ease-in-out;
}

#RoomDiscoverPanel.InProgress.Visible .RoomDiscoverSpacer.Left {
  transition-duration: 0s;
  width: fill-parent-flow(1);
}

#RoomDiscoverStrip {
  width: 100%;
  margin-top: 40px;

  transition-property: width;
  transition-duration: RoomDiscoverTransitionTime;
  transition-timing-function: ease-in-out;
}

/* #RoomDiscoverPanel.Visible.InProgress #RoomDiscoverStrip
{
	width: 500px;
} */

.RoomDiscoverTitleBlock {
  padding: 20px 0 20px 0;
  width: fit-children;
  overflow: noclip;
  horizontal-align: center;
  flow-children: down;
  opacity: 1;
  transition-property: opacity;
  transition-duration: RoomDiscoverTransitionTime;
  transition-timing-function: ease-in-out;

  /* background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop(0.2, #00000090), color-stop(0.4, #000000EF), color-stop(0.6, #000000EF), color-stop(0.8, #00000090), to( #00000000 ) );	 */
}

#RoomDiscoverPanel.Visible.InProgress .RoomDiscoverTitleBlock {
  transition-duration: 0s;
  opacity: 0;
}

.BonusRoomTitleBlock {
  padding: 0px 0 20px 0;
  width: 540px;
  flow-children: down;
  opacity: 0;
  transition-property: opacity;
  transition-duration: RoomDiscoverTransitionTime;
  transition-timing-function: ease-in-out;
  padding-left: -40px;

  /* box-shadow: fill 0 0 24px #000000bb;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000040 ), color-stop(0.2, #00000050), color-stop(0.4, #00000040), color-stop(0.6, #00000030), color-stop(0.8, #00000020), to( #00000000 ) );	 */
}

.RoomInProgressTitleBlock {
  padding: 300px 0px 20px 0px;
  width: 540px;
  flow-children: down;
  opacity: 0;
  transition-property: opacity;
  transition-duration: RoomDiscoverTransitionTime;
  transition-timing-function: ease-in-out;
  padding-left: -40px;

  /* box-shadow: fill 0 0 24px #000000bb;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000040 ), color-stop(0.2, #00000050), color-stop(0.4, #00000040), color-stop(0.6, #00000030), color-stop(0.8, #00000020), to( #00000000 ) );	 */
}

.BonusActive .BonusRoomTitleBlock {
  transition-duration: 0s;
  opacity: 1;
}

#RoomDiscoverPanel.Visible.InProgress .RoomInProgressTitleBlock {
  transition-duration: 0s;
  opacity: 1;
}

DOTAHud.HUDFlipped
  .ShopIsOpen
  #RoomDiscoverPanel.Visible.InProgress
  .RoomInProgressTitleBlock {
  transition-duration: 0s;
  opacity: 0;
}

.EncounterNameLabel {
  min-width: 600px;
  horizontal-align: left;
  padding: 10px 32px 10px 54px;
  text-overflow: shrink;

  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 1px 2px 2px #000000;

  font-size: 32px;
  font-weight: semi-bold;
  text-align: left;

  color: #fdfaee;

  vertical-align: center;
}

.ROOM_TYPE_ENEMY .EncounterNameLabel {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#3e64a400),
    color-stop (0.1, #3e64a4dd),
    color-stop (0.6, #88a6d9aa),
    to (#aae0ff00)
  );
}

.ROOM_TYPE_ENEMY.HardRoom .EncounterNameLabel {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#7b010000),
    color-stop (0.1, #7b0100dd),
    color-stop (0.6, #d02b29aa),
    to (#ff737300)
  );
}

.ROOM_TYPE_BOSS .EncounterNameLabel {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#2b229200),
    color-stop (0.1, #2b2292dd),
    color-stop (0.6, #7266ffaa),
    to (#9388fe00)
  );
}

.ROOM_TYPE_TRANSITIONAL .EncounterNameLabel {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#79570000),
    color-stop (0.1, #795700dd),
    color-stop (0.6, #c8981caa),
    to (#fff26f00)
  );
}

.ROOM_TYPE_STARTING .EncounterNameLabel {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#002e8f00),
    color-stop (0.1, #002e8fdd),
    color-stop (0.6, #3375ffaa),
    to (#82a9ff00)
  );
}

.ROOM_TYPE_TRAPS .EncounterNameLabel {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#7d2d1400),
    color-stop (0.1, #7d2d14b9),
    color-stop (0.6, #e1542793),
    to (#ffa88d00)
  );
}

.ROOM_TYPE_BONUS .EncounterNameLabel,
#BonusPanel .EncounterNameLabel {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#79570000),
    color-stop (0.1, #795700dd),
    color-stop (0.6, #c8981caa),
    to (#fff26f00)
  );
}

.EncounterHeader {
  width: fit-children;
  height: fit-children;
  flow-children: right;
}

.EncounterDepthLabel {
  min-width: 450px;
  horizontal-align: left;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fdfaee;
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#661f3200),
    color-stop (0.1, #661f32dd),
    color-stop (0.6, #661f32dd),
    to (#661f3200)
  );

  padding: 8px 32px 6px 54px;
}

.ROOM_TYPE_STARTING .EncounterDepthLabel {
  visibility: collapse;
}

.RoomDiscoverTitleBlock .EncounterTypeIcon,
.InProgressEncounterIcon {
  width: 150px;
  height: 180px;
  background-size: contain;
  background-position: center;
  background-image: url("s2r://panorama/images/events/aghanim/aghanims_room_icon_png.vtex");
  background-repeat: no-repeat;

  z-index: 3;

  img-shadow: 0px 3px 8px #000;
}

.RoomDiscoverTitleBlock .EncounterTypeIcon {
}

.InProgressEncounterIcon {
  /* width: 72px; */
  width: 0;
  height: 84px;
}

.ROOM_TYPE_ENEMY .EncounterTypeIcon,
.ROOM_TYPE_ENEMY .InProgressEncounterIcon {
  background-image: url("s2r://panorama/images/events/aghanim/encounter_room_icon_png.vtex");
}

.ROOM_TYPE_ENEMY.HardRoom .EncounterTypeIcon,
.ROOM_TYPE_ENEMY.HardRoom .InProgressEncounterIcon {
  background-image: url("s2r://panorama/images/events/aghanim/encounter_room_elite_icon_png.vtex");
}

.ROOM_TYPE_BOSS .EncounterTypeIcon,
.ROOM_TYPE_BOSS .InProgressEncounterIcon {
  background-image: url("s2r://panorama/images/events/aghanim/boss_room_icon_png.vtex");
}

.ROOM_TYPE_TRAPS .EncounterTypeIcon,
.ROOM_TYPE_TRAPS .InProgressEncounterIcon {
  background-image: url("s2r://panorama/images/events/aghanim/trap_room_icon_png.vtex");
}

.ROOM_TYPE_STARTING .EncounterTypeIcon,
.ROOM_TYPE_STARTING .InProgressEncounterIcon {
  background-image: url("s2r://panorama/images/events/aghanim/aghanims_room_icon_png.vtex");
}

.ROOM_TYPE_TRANSITIONAL .EncounterTypeIcon,
.ROOM_TYPE_TRANSITIONAL .InProgressEncounterIcon {
  background-image: url("s2r://panorama/images/events/aghanim/empty_room_icon_png.vtex");
}

.ROOM_TYPE_BONUS .EncounterTypeIcon,
.ROOM_TYPE_BONUS .InProgressEncounterIcon {
  background-image: url("s2r://panorama/images/events/aghanim/bonus_room_icon_png.vtex");
}

#BonusPanel .EncounterTypeIcon {
  background-image: url("s2r://panorama/images/events/aghanim/bonus_room_icon_png.vtex");
  width: 72px;
  height: 84px;
}

.EncounterHeaderTextContainer {
  width: fit-children;
  height: fit-children;
  flow-children: down;
  vertical-align: middle;

  margin-left: -54px;
}

.RoomInProgressTitleBlock .EncounterHeaderTextContainer {
  margin-left: -32px;
}

.RoomInProgressTitleBlock .EncounterNameLabel,
#BonusPanel .EncounterNameLabel {
  min-width: 400px;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  padding: 6px 64px 6px 42px;
  letter-spacing: 3px;
  margin-left: 50px;

  box-shadow: fill 1px 2px 24px #00000030;

  /* margin-left: 20px; */
}

#BonusPanel .EncounterNameLabel {
  margin-top: 22px;
}

.EliteEncounterLabel {
  horizontal-align: left;
  font-size: 17px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 3px;

  text-shadow: 1px 2px 2px 2 #000000;
  color: #eed97c;
  margin-left: 54px;
  margin-bottom: 4px;

  opacity: 0;
}

.HardRoom .EliteEncounterLabel {
  opacity: 1;
}

.RoomInProgressTitleBlock .EliteEncounterLabel {
  horizontal-align: left;
  font-size: 14px;
  margin-left: 90px;
  margin-bottom: 4px;
}

.AscensionAbilitiesContainer {
  flow-children: down;
  width: 100%;
  height: fit-children;
  visibility: collapse;
}

.RoomInProgressTitleBlock .AscensionAbilitiesContainer {
  margin-top: 16px;
  margin-left: 16px;
  flow-children: down;
  width: 100%;
  height: fit-children;
}

.HasAscensionAbilities .AscensionAbilitiesContainer {
  visibility: visible;
}

.AscensionAbilitiesTitle {
  min-width: 450px;
  horizontal-align: left;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fdfaee;
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#661f3200),
    color-stop (0.1, #661f32dd),
    color-stop (0.6, #661f32dd),
    to (#661f3200)
  );

  padding: 8px 32px 6px 54px;
}

.RoomInProgressTitleBlock .AscensionAbilitiesTitle {
  min-width: 350px;
  horizontal-align: left;
  font-weight: normal;
  margin-left: 20px;
  text-shadow: 1px 2px 2px 1 #000000;

  padding: 4px 16px 3px 24px;
}

#AscensionAbilitiesContainer {
  flow-children: down;
  width: 100%;
}

#AscensionAbilitiesContainerInProgress {
  flow-children: down;
  width: fit-children;
}

.AscensionAbilityRow {
  horizontal-align: left;
  flow-children: right;
  margin-left: 54px;
  margin-top: 12px;
}

.RoomInProgressTitleBlock .AscensionAbilityRow {
  horizontal-align: left;
  margin-left: 44px;
}

.AscensionAbilityName {
  font-size: 15px;
  font-weight: normal;
  margin-right: 20px;
  color: #fff;

  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px 2 #000000;
}

.RoomInProgressTitleBlock .AscensionAbilityName {
  margin-bottom: 2px;
}

#ObjectivesContainer {
  flow-children: down;
  margin-left: 56px;
  margin-top: 0px;
}

.BonusActive #ObjectivesContainer {
  visibility: collapse;
}

.BonusActive #RoomDiscoverPanel {
  visibility: collapse;
}

.ObjectiveRow {
  flow-children: right;
  margin: 5px;
}

.ObjectiveText {
  font-size: 15px;
  font-weight: normal;
  margin-right: 20px;
  color: #ffffff;

  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px 2 #000000;
}

.ObjectiveCounter {
  font-size: 16px;
  color: #45b6fe;
  font-weight: bold;

  text-shadow: 1px 2px 2px 2 #000000;
  vertical-align: center;
  margin-top: -1px;
}

.Simple .ObjectiveCounter {
  visibility: collapse;
}

#EncounterArt {
  background-size: cover;
  width: 256px;
  height: 40px;
  horizontal-align: center;
}

#RoomDiscoverPanel.Difficulty0 #EncounterArt {
  visibility: visible;
}

#RoomDiscoverPanel.Difficulty1 #EncounterArt {
  background-image: url("s2r://panorama/images/interface/room_difficulty_1_png.vtex");
}

#RoomDiscoverPanel.Difficulty2 #EncounterArt {
  background-image: url("s2r://panorama/images/interface/room_difficulty_2_png.vtex");
}

#RoomDiscoverPanel.Difficulty3 #EncounterArt {
  background-image: url("s2r://panorama/images/interface/room_difficulty_3_png.vtex");
}

#RoomDiscoverPanel.Difficulty4 #EncounterArt {
  background-image: url("s2r://panorama/images/interface/room_difficulty_4_png.vtex");
}

.Button {
  height: 50px;
  width: 150px;

  horizontal-align: center;
  vertical-align: bottom;
  margin-bottom: 20px;
}

#BattleRoyaleDamageStarting {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-timing-function: ease-out;
}

#BattleRoyaleDamageStarting.Visible {
  opacity: 1;
  transition-delay: 2s;
  transition-duration: 1.5s;
}

.BattleRoyaleLabel {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px 3 #000000;
  color: gradient(linear, 0% 0%, 0% 100%, from(#ff0000), to (#b97f78));
  vertical-align: center;
  horizontal-align: center;
}

.GameOverHeader {
  height: 40px;
  vertical-align: top;
  margin-top: 5px;
  width: 100%;
}

#GameOverBlur {
  width: 100%;
  height: 100%;
  blur: gaussian(5);
  visibility: collapse;
}

#GameOverPanel {
  height: 700px;
  width: 1000px;
  background-image: url("s2r://panorama/images/hud/reborn/bg_hud_inspect_psd.vtex");
  background-repeat: no-repeat;
  background-size: cover;
  visibility: collapse;
  horizontal-align: center;
  vertical-align: center;
  flow-children: down;
  border: 1px solid #70698130;
  padding: 25px;
  visibility: collapse;
}

.GameOverPanelLabel {
  horizontal-align: center;
}

#GameOverPanel.Visible,
#GameOverBlur.visible {
  visibility: visible;
}

#FinishPosition,
#DefeatedHeader {
  text-transform: uppercase;
  horizontal-align: right;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
  color: gradient(linear, 0% 0%, 0% 100%, from(#706981), to(#c3b3d1));
  text-shadow: 0px 0px 6px #000;
}

#FinishPosition {
  color: #666;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0px;
}

#DefeatedHeader {
  horizontal-align: left;
}

#HeroesContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 250px;

  horizontal-align: center;
  flow-children: right;
}

.HeroContainer {
  height: 100%;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  flow-children: down;
}

.GameOverHero {
  height: 200px;
  width: 100%;
}

.PlayerLabel {
  width: 100%;
  height: 60px;
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#00000000),
    color-stop(0.2, #00000070),
    color-stop(0.4, #00000090),
    color-stop(0.6, #00000090),
    color-stop(0.8, #00000070),
    to(#00000000)
  );
}

.PlayerLabel Label {
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
  font-size: 24px;
  color: white;
}

#EarnedPointsContainer {
  height: fit-children;
  /* x: 50%; */
  /* margin-left: 50px; */
  margin-top: 16px;
  margin-right: 40px;
  vertical-align: top;
  horizontal-align: right;
  flow-children: left;
}

.IsLocalPlayerSpectating #EarnedPointsContainer {
  margin-right: 120px;
}

.EarnedPointsRow {
  flow-children: left;
  margin-right: 24px;
  margin-top: 4px;
  tooltip-position: left;
  horizontal-align: right;
}

.IsLocalPlayerSpectating .EarnedPointsRow,
.IsLocalPlayerLiveSpectating .EarnedPointsRow {
  visibility: collapse;
}

.EarnedPointsLabel {
  /* width: 120px; */
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  color: rgb(240, 234, 210);

  vertical-align: middle;
}

.EarnedRewardIcon {
  width: 40px;
  height: 40px;
  vertical-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.BattlePoints .EarnedRewardIcon {
  background-image: battle_points_icon;
  background-size: contain;
}

.ArcaneFragments .EarnedRewardIcon {
  background-image: arcane_fragments_icon;
  background-size: contain;
}

#DifficultyContainer {
  margin-bottom: 24px;
  flow-children: right;
  visibility: collapse;
  vertical-align: center;
}

#DifficultyContainer.AscensionLevel0,
#DifficultyContainer.AscensionLevel1,
#DifficultyContainer.AscensionLevel2,
#DifficultyContainer.AscensionLevel3,
#DifficultyContainer.AscensionLevel4 {
  visibility: visible;
}

.DifficultyLabel {
  font-size: 17px;
  vertical-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 6px 24px 6px 48px;
  background-color: gradient(
    linear,
    100% 0%,
    0% 0%,
    from(#6d553130),
    color-stop(0.3, #c9a06430),
    color-stop(0.5, #c9a06420),
    to(#c9a06400)
  );
  margin-right: -20px;
  margin-top: 4px;
  color: #fdfaee;

  text-shadow: 1px 2px 2px #000;
}

.DifficultyImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  horizontal-align: center;
}

#DifficultyContainer.AscensionLevel0 .DifficultyImage {
  background-image: url("s2r://panorama/images/events/aghanim/difficulty_1_png.vtex");
}

#DifficultyContainer.AscensionLevel1 .DifficultyImage {
  background-image: url("s2r://panorama/images/events/aghanim/difficulty_2_png.vtex");
}

#DifficultyContainer.AscensionLevel2 .DifficultyImage {
  background-image: url("s2r://panorama/images/events/aghanim/difficulty_3_png.vtex");
}

#DifficultyContainer.AscensionLevel3 .DifficultyImage {
  background-image: url("s2r://panorama/images/events/aghanim/difficulty_4_png.vtex");
}

#DifficultyContainer.AscensionLevel4 .DifficultyImage {
  background-image: url("s2r://panorama/images/events/aghanim/difficulty_5_png.vtex");
}

.AghanimLabelSmall,
.AghanimLabelLarge,
.AghanimLabelHeader {
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px 2 #00000011;

  font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
  font-size: 14px;
  letter-spacing: 2px;
  // text-overflow: clip;
  margin-bottom: -3px;
}

.AghanimLabelSmall.Header {
  min-width: 84px;
}

.AghanimLabelLarge {
  font-size: 20px;
  letter-spacing: 1px;
}

.AghanimLabelHeader {
  font-size: 36px;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 2px 4px #000000;
}

#1UpPopup {
  width: 100px;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

#1UpPopup.Play1Up {
  animation-name: 1upanimation;
  opacity: 0.01;
}

@keyframes '1UpAnimation' {
  0% {
    opacity: 0;
    pre-transform-scale2d: 1;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    pre-transform-scale2d: 2;
  }
  30% {
    pre-transform-scale2d: 1;
  }
  66% {
    opacity: 1;
    pre-transform-scale2d: 1;
  }
  100% {
    opacity: 0;
    pre-transform-scale2d: 1;
    transform: translateY(-64px);
  }
}

#1UpHeroIconOutline,
#1UpHeroIcon {
  vertical-align: middle;
  horizontal-align: right;
  margin: 4px;
}

#1UpHeroIconOutline {
  //texture-sampling: alpha-only;
  wash-color: #000;
  pre-transform-scale2d: 1.2;
  contrast: 2;
}

.1upicon {
  width: 64px;
  height: 48px;
  background-image: url("s2r://panorama/images/events/aghanim/reward_type_lives_icon_psd.vtex");
  background-position: center;
  background-size: cover;
  horizontal-align: left;
  z-index: 2;
}

.LifeLost .1upicon {
  background-image: url("s2r://panorama/images/interface/1down_psd.vtex");
}

// Boss UI

#BossHealthBarContainer {
  horizontal-align: center;
  margin-top: 60px;
  visibility: collapse;
}

#BossHealthBarContainer.Visible {
  visibility: visible;
}

#BossHP {
  width: 710px;
  horizontal-align: center;
  vertical-align: top;
  flow-children: down;
}

#BossLabel {
  horizontal-align: center;
  vertical-align: bottom;
  text-align: center;
  text-shadow: 1px 1px 2px 3 #000000;
  font-size: 25px;
}

#BossProgressBar {
  width: 80%;
  border-radius: 4px;
  border: 3px solid #444;
  background-color: black;
  height: 24px;
  vertical-align: center;
  horizontal-align: left;
  box-shadow: fill #000 -3px -3px 6px 6px;
}

#BossProgressBar_Left {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#326114),
    color-stop(0.3, #54ba07),
    color-stop(0.5, #54ba07),
    to(#326114)
  );
  box-shadow: inset #000 1px 1px 3px 3px;
  border-radius: 2px;
}

#BossProgressBar_Left {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#320000),
    color-stop(0.3, #ff4a07),
    color-stop(0.5, #ff4a07),
    to(#320000)
  );
}

#BossProgressBar_Right {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#222222ff),
    to(black)
  );
}

#ProgressBarContainer {
  vertical-align: bottom;
  height: 40px;
  width: 100%;
}

#BossProgressBarContainer {
  vertical-align: bottom;
  width: 100%;
}

#BossIcon {
  margin-left: 8px;
  margin-right: 12px;
  height: 36px;
  width: 36px;

  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: center;
}

.Boss_npc_dota_boss_timbersaw #BossIcon {
  background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_shredder_png.vtex");
}

.Boss_npc_dota_boss_void_spirit #BossIcon {
  background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_void_spirit_png.vtex");
}

.Boss_npc_dota_boss_aghanim #BossIcon {
  background-image: url("s2r://panorama/images/interface/aghs_minimap_icon_png.vtex");
}

.Boss_npc_dota_creature_storegga #BossIcon {
  background-image: url("s2r://panorama/images/interface/storegga_psd.vtex");
}

.Boss_npc_dota_creature_temple_guardian #BossIcon {
  background-image: url("s2r://panorama/images/interface/templeguards_psd.vtex");
}

#BossWarning {
  height: 40px;
  width: 40px;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.32s;
  transition-timing-function: ease-in-out;
}

#BossWarning.Visible {
  opacity: 1;
}

#BossAbilityImage {
  height: 100%;
  width: 100%;
}

// End Boss UI

#BonusPanel {
  height: 500px;
  width: 380px;

  vertical-align: top;
  horizontal-align: left;
  margin-top: 90px;
  flow-children: down;

  transition-property: opacity;
  transition-duration: RoomDiscoverTransitionTime;
  transition-timing-function: ease-in-out;

  /* box-shadow: fill 0 24px 96px #000000cc; */
  padding: 10px;
  padding-left: 0px;
  visibility: collapse;
}

#BonusPanel.Visible {
  visibility: visible;
}

.BonusTitle {
}

.Gold {
  color: accentColorBright;
  horizontal-align: right;
  vertical-align: center;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
  min-width: 50px;
  text-shadow: 0px 2px 0px 2 #000000;
  margin-top: 2px;
}

#BonusPlayers {
  flow-children: down;
  horizontal-align: left;
  width: 400px;

  margin-top: -28px;
  z-index: -1;
}

.BonusPlayer {
  flow-children: down;
  horizontal-align: left;
  margin-bottom: 4px;
  margin-left: 50px;
  width: 380px;
  padding: 4px 0px 4px 20px;

  /* background-color: gradient (linear, 0% 0%, 100% 0%, from(#00000000), color-stop(0.05, #000000bb), color-stop(0.6, #000000bb), to(#00000000) ); */
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#1a130310),
    color-stop (0.1, #1a1303dd),
    color-stop (0.6, #1a1303dd),
    to (#1a130300)
  );
}

.BonusPlayer.Timer {
  background-color: gradient
    (
      linear,
      0% 0%,
      100% 0%,
      from(#30030300),
      color-stop(0.05, #300303bb),
      color-stop(0.6, #300303bb),
      to(#30030300)
    );
}

.BonusPlayer.TotalGold {
  visibility: collapse;
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#3d2e0910),
    color-stop (0.1, #3d2e09dd),
    color-stop (0.6, #3d2e09dd),
    to (#3d2e0900)
  );
}

.FinalGoldVisible .BonusPlayer.TotalGold {
  visibility: visible;
}

.PlayerNameContainer {
  flow-children: right;
  horizontal-align: left;
  width: 100%;
}

.BonusPlayerName {
  font-size: 20px;
  color: white;
  vertical-align: center;
  margin: 5px;
  margin-left: 8px;
  width: 180px;
  font-weight: bold;
  text-shadow: 0px 2px 0px 2 #000000;
}

.BonusPlayerIcon {
  margin: 5px;
}

.BonusTimerHeader,
.BonusGoldHeader {
  font-size: 15px;
  horizontal-align: center;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 0px 2px 0px 2 #000000;
  /* margin-top: -5px; */
  margin-left: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.BonusTimer,
.BonusTotalGold {
  font-size: 24px;
  horizontal-align: right;
  color: white;
  font-weight: bold;
  text-shadow: 0px 2px 0px 2 #000000;
  margin-right: 40px;
}

.BonusTotalGold {
  margin-right: 40px;
}

.BonusTotalGoldContainer {
  visibility: collapse;
  vertical-align: center;
  horizontal-align: center;
}

.FinalGoldVisible .BonusTotalGoldContainer {
  visibility: visible;
}

.FinalGoldVisible .BonusTimer,
.FinalGoldVisible .BonusTimerHeader {
  visibility: collapse;
}

.BonusTotalGold {
  font-size: 20px;
  color: accentColorBright;
  vertical-align: middle;
  text-align: right;
  /* margin: 5px; */
  /* margin-top: -10px; */
}

.BonusTotalGoldIcon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
  margin: 5px;
  margin-left: 4px;
}

#OverlayMapContainer {
  vertical-align: bottom;
  horizontal-align: left;

  width: 310px;
  height: 310px;

  opacity: 1;
  background-image: url("s2r://panorama/images/interface/aghsbgminimap_png.vtex");
  background-position: center;
  background-size: contain;

  transition-property: width, height, opacity, transform, pre-transform-scale2d,
    wash-color, background-color, opacity-mask, border-radius;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.DOTA_GAMEMODE_EVENT #OverlayMapContainer {
  transform: translateX(640px) translateY(-310px);
}

#OverlayMapContainer.LargeOverlayMap {
  width: 800px;
  height: 800px;
  border-radius: 0%;
  horizontal-align: center;
  vertical-align: middle;

  transform: translateX(0px) translateY(0px);

  opacity: 1;
  background-color: gradient(
    radial,
    50% 50%,
    0% 0%,
    300px 300px,
    from(#000f),
    color-stop(0.5, #000d),
    to(#00000000)
  );
  opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex") 1;
}

#OverlayMap {
  width: 280px;
  height: 280px;
  opacity: 1;
  border: 0px solid black;
  background-color: black;
  horizontal-align: left;
  vertical-align: bottom;
}

.MinimapImage {
  width: 5px;
  height: 5px;
  background-image: url("s2r://panorama/images/interface/minimap_creep_icon_psd.vtex");
  background-position: center;
  background-size: contain;
  wash-color: #0f0;
  z-index: 0;
}

.MinimapImage.Enemy {
  width: 8px;
  height: 8px;
  wash-color: red;
}

.npc_dota_boss_aghanim.MinimapImage.Enemy.Boss.ConsideredHero {
  width: 39px;
  height: 33px;
  wash-color: red;
  background-image: url("s2r://panorama/images/interface/aghs_minimap_icon_png.vtex");
  background-position: center;
  background-size: contain;

  z-index: 1;
}

.npc_dota_boss_aghanim_crystal.MinimapImage.Enemy.ConsideredHero {
  width: 5px;
  height: 5px;
  background-image: url("s2r://panorama/images/interface/minimap_creep_icon_psd.vtex");
  background-position: center;
  background-size: contain;
  wash-color: #0f0;
  z-index: 0;
}

.MinimapImage.Enemy.ConsideredHero {
  width: 18px;
  height: 18px;
  wash-color: red;

  background-image: url("s2r://panorama/images/interface/minimap_boss_icon_png.vtex");
  background-position: center;
  background-size: contain;
  opacity: 1.5;
  z-index: 1;
}

.MinimapImage.npc_aghsfort_dark_portal.Enemy {
  wash-color: red;
  width: 16px;
  height: 16px;

  background-image: url("s2r://panorama/images/interface/minimap_checkpoint_icon_psd.vtex");
  background-position: center;
  background-size: contain;
}

.MinimapImage.npc_dota_aghsfort_watch_tower_option_1,
.MinimapImage.npc_dota_aghsfort_watch_tower_option_2,
.MinimapImage.npc_dota_aghsfort_watch_tower_option_3,
.MinimapImage.npc_dota_aghsfort_watch_tower_option_4 {
  wash-color: #0f0;
  width: 24px;
  height: 24px;

  background-image: url("s2r://panorama/images/interface/minimap_checkpoint_icon_psd.vtex");
  background-position: center;
  background-size: contain;
}

.MinimapImage.Shop {
  wash-color: white;
  width: 12px;
  height: 12px;

  background-image: url("s2r://panorama/images/control_icons/shop_icon_main_psd.vtex");
  background-position: center;
  background-size: contain;
}

.HUDFlipped #OverlayMapContainer {
  horizontal-align: right;
  transform: scaleX(-1);
}

.HUDFlipped #OverlayMap {
  transform: scaleX(-1);
}

#OverlayMap DOTAHeroImage {
  width: 28px;
  height: 28px;
  opacity: 1.5;
  z-index: 2;
}

#OpenMapButton {
  width: 50px;
  height: 50px;
  background-color: orange;
  opacity: 1;
  vertical-align: bottom;
  horizontal-align: left;
  margin-left: 285px;

  visibility: collapse;

  background-image: url("s2r://panorama/images/compendium/achievements/quest_all_png.vtex");
  background-position: center;
  background-size: contain;
}

.HUDFlipped #OpenMapButton {
  horizontal-align: right;
  margin-left: 0px;
  margin-right: 285px;
}

#MazeMap {
  vertical-align: center;
  horizontal-align: center;
  height: 1000px;
  width: 1000px;
  background-color: black;
  visibility: collapse;
}

#MazeMap.MapOpen {
  visibility: collapse;
}

.MazeRoom {
  width: 125px;
  height: 125px;
  //border: 10px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: none;
}

.RewardIcon,
.EliteIcon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.EliteIcon {
  background-image: url("s2r://panorama/images/interface/room_difficulty_1_png.vtex");
  background-size: cover;
  visibility: collapse;
  wash-color: red;
}

.Elite .EliteIcon {
  visibility: visible;
}

.BossIcon {
  background-image: url("s2r://panorama/images/interface/minimap_boss_icon_png.vtex");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
  margin: 25px;

  vertical-align: center;
  horizontal-align: center;

  wash-color: red;
  visibility: collapse;
}

.BossRoom .BossIcon {
  visibility: visible;
}

.RoomContents {
  flow-children: down;
  height: 100%;
  width: 100%;
}

.MazeRoom .IconContainer {
  flow-children: right;
  width: fit-children;
  height: fit-children;
  vertical-align: center;
  horizontal-align: center;
}

.REWARD_TYPE_GOLD .RewardIcon {
  background-image: url("s2r://panorama/images/events/aghanim/reward_type_gold_icon_png.vtex");
}

.REWARD_TYPE_EXTRA_LIVES .RewardIcon {
  background-image: url("s2r://panorama/images/events/aghanim/reward_type_lives_icon_psd.vtex");
}

.REWARD_TYPE_XP .RewardIcon {
  background-image: url("s2r://panorama/images/items/tome_of_greater_knowledge_png.vtex");
}

.REWARD_TYPE_CONSUMABLES .RewardIcon {
  background-image: url("s2r://panorama/images/items/spell_amp_potion_png.vtex");
}

.REWARD_TYPE_TREASURE .RewardIcon {
  background-image: url("s2r://panorama/images/events/aghanim/reward_type_treasure_icon_png.vtex");
}

.REWARD_TYPE_HIDDEN .RewardIcon {
  background-image: url("s2r://panorama/images/compendium/achievements/question_quest_png.vtex");
  background-color: black;
  background-size: cover;
}

.MazeRoom.BossRoom {
  width: 250px;
  height: 250px;
  background-color: #000000ee;
}

.MazeRoom.Completed {
  color: none;
}

.MazeRoom.Current {
  //border: 10px solid white;
}

.MazeRoom.Exit0,
.MazeRoom.Entrance0 {
  border-left: 0px solid black;
}

.MazeRoom.Exit1,
.MazeRoom.Entrance1 {
  border-top: 0px solid black;
}

.MazeRoom.Exit2,
.MazeRoom.Entrance2 {
  border-right: 0px solid black;
}

.MazeRoom.Exit3,
.MazeRoom.Entrance3 {
  border-bottom: 0px solid black;
}

.Completed .RewardIcon,
.Completed .EliteIcon,
.Current .RewardIcon,
.Current .EliteIcon {
  visibility: collapse;
}

#a2_transition.RewardRoom {
  width: 500px;
  height: 250px;
}

.Act1 {
  height: 500px;
  width: 500px;
  horizontal-align: left;
  vertical-align: bottom;
}

.Act2 {
  height: 625px;
  width: 500px;
  horizontal-align: right;
  vertical-align: middle;
}

.Act3 {
  height: 500px;
  width: 500px;
  horizontal-align: left;
  vertical-align: top;
}

.MazeRoom.NoRoom {
}

#PlayerLocator {
  margin-top: 25px;
  vertical-align: center;
  horizontal-align: center;
  width: 48px;
  height: 48px;
  visibility: collapse;
}

.Current #PlayerLocator {
  visibility: visible;
}

#a1_1a {
  margin-top: triple_room_margin;
}

#a1_2a {
  margin-top: double_room_margin;
}

#a1_2b {
  margin-top: triple_room_margin;
  margin-left: single_room_margin;
}

#a1_3a {
  margin-top: single_room_margin;
}

#a1_3b {
  margin-top: double_room_margin;
  margin-left: single_room_margin;
}

#a1_3b {
  margin-top: double_room_margin;
  margin-left: single_room_margin;
}

#a1_3c {
  margin-top: triple_room_margin;
  margin-left: double_room_margin;
}

#a1_4d {
  margin-top: triple_room_margin;
  margin-left: triple_room_margin;
}

#a1_4c {
  margin-top: double_room_margin;
  margin-left: double_room_margin;
}

#a1_4b {
  margin-top: single_room_margin;
  margin-left: single_room_margin;
}

#a1_4a {
}

#a1_5a {
  margin-left: single_room_margin;
}

#a1_5b {
  margin-left: triple_room_margin;
  margin-top: double_room_margin;
}

#a1_boss {
  margin-left: double_room_margin;
}

#a2_transition {
  margin-top: 500px;
}

#a2_1a,
#a3_1a {
  margin-top: triple_room_margin;
  margin-left: triple_room_margin;
}

#a2_2b,
#a3_2b {
  margin-top: triple_room_margin;
  margin-left: double_room_margin;
}

#a2_2a,
#a3_2a {
  margin-top: double_room_margin;
  margin-left: triple_room_margin;
}

#a2_3c,
#a3_3c {
  margin-top: triple_room_margin;
  margin-left: single_room_margin;
}

#a2_3b,
#a3_3b {
  margin-top: double_room_margin;
  margin-left: double_room_margin;
}

#a2_3a,
#a3_3a {
  margin-top: single_room_margin;
  margin-left: triple_room_margin;
}

#a2_4d,
#a3_4d {
  margin-top: triple_room_margin;
}

#a2_4c,
#a3_4c {
  margin-top: double_room_margin;
  margin-left: single_room_margin;
}

#a2_4b,
#a3_4b {
  margin-top: single_room_margin;
  margin-left: double_room_margin;
}

#a2_4a,
#a3_4a {
  margin-left: triple_room_margin;
}

#a2_5a,
#a3_5a {
  margin-left: double_room_margin;
}

#a2_5b,
#a3_5b {
  margin-top: double_room_margin;
}

#a2_boss,
#a3_boss {
}

#WorldHintPanel {
  visibility: collapse;
  height: fit-children;
  width: fit-children;
  padding: 10px 32px 10px 32px;
  background-color: #000000dd;
  border-radius: 8px;
}

#WorldHintPanel Label {
  color: white;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  text-overflow: clip;
  width: 350px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 40px;
  overflow: squish;
  margin: 5px;
  /* text-shadow: 4px 4px 4px 2.5 #00000090; */
}

#HintPanel.HintVisible,
#WorldHintPanel.HintVisible {
  visibility: visible;
}

/* -- Command Icons -- */

.MOUSE1,
.MOUSE2 {
  height: 45px;
  width: 28px;
  margin: 0 4px;
  vertical-align: middle;
  background-size: 100% 100%;
  background-position: 50% 50%;
  transform: translateY(-8px);
  background-image: url("s2r://panorama/images/interface/mouse_leftclick_png.vtex");
  background-repeat: no-repeat;
}

.MOUSE2 {
  background-image: url("s2r://panorama/images/interface/mouse_rightclick_png.vtex");
}

.A,
.M,
.Q,
.W,
.E,
.R,
.Z {
  height: 40px;
  width: 40px;

  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  transform: translateY(-6px);
}

.A {
  background-image: url("s2r://panorama/images/interface/keyboard_a_psd.vtex");
}

.M {
  background-image: url("s2r://panorama/images/interface/keyboard_m_psd.vtex");
}

.Q {
  background-image: url("s2r://panorama/images/interface/keyboard_q_psd.vtex");
}

.W {
  background-image: url("s2r://panorama/images/interface/keyboard_w_psd.vtex");
}

.E {
  background-image: url("s2r://panorama/images/interface/keyboard_e_psd.vtex");
}

.R {
  background-image: url("s2r://panorama/images/interface/keyboard_r_psd.vtex");
}

.Z {
  background-image: url("s2r://panorama/images/interface/keyboard_z_psd.vtex");
}
