#TopMenuPanel {
	horizontal-align: left;
	vertical-align: top;
	margin-left: 53px;
	flow-children: right-wrap;
	transition-property: position;
	transition-duration: 0.5s;
	position: 0px 0px 0px;
	margin-top: 2px;
}

.AspectRatio16x10 #TopMenuPanel {
	max-width: 350px;
}

.AspectRatio4x3 #TopMenuPanel {
	max-width: 250px;
}

.Spacer16x10 {
	visibility: collapse;
}

.AspectRatio16x10 .Spacer16x10 {
	visibility: visible;
}

.TopMenuIcon {
	height: 48px;
	width: 48px;
	background-repeat: no-repeat;
	background-size: 33px 33px;
	background-position: center center;
	tooltip-position: bottom;
}

.TopMenuButtonColor {
	width: 100%;
	height: 100%;
	background-color: gradient(linear, 0% 120%, 0% 0%, from(#b6bacb), to(#e6e8ef));
	transition: background-color 0.2s ease-in-out 0s;
}
.TopMenuButtonShadow {
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.TopMenuButtonColor:hover {
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#c97536), to(#ffa66b));
}
#DiscordShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/discord_shadow.png");
}
#DiscordColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/discord_base.png");
}
#ChatwheelShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/chatwheel_shadow.png");
}
#ChatwheelColor {
	background-color: gradient(linear, 0% 120%, 0% 0%, from(#c8ccdf), to(#eef0f7));
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/chatwheel_base.png");
}
#ChatwheelColor:hover {
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#c97536), to(#ffa66b));
}
#FeedbackShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/feedback_shadow.png");
}
#FeedbackColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/feedback_base.png");
}
#CollectionShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/collection_shadow.png");
}
#CollectionColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/collection_base.png");
}
#LeaderboardShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/leaderboard_shadow.png");
}
#LeaderboardColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/leaderboard_base.png");
}
#MailShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/mail_shadow.png");
}
#MailColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/mail_base.png");
}
#MailColor:hover {
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#e28a2e), to(#fcd065));
}
#LeaderboardColor:hover {
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#e28a2e), to(#fcd065));
}
#ShrinkGameShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/shrinkgame_shadow.png");
}
#ShrinkGameColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/shrinkgame_base.png");
}
#GameSettingsShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/gamesettings_shadow.png");
}
#GameSettingsColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/gamesettings_base.png");
}
#GameScoreboardColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/scoreboard_base.png");
}
#GameScoreboardShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/scoreboard_shadow.png");
}
#OpenSyncedChatShadow {
	background-image: url("file://{resources}/layout/custom_game/top_menu/images/synced_chat_shadow.png");
}
#OpenSyncedChatColor {
	opacity-mask: url("file://{resources}/layout/custom_game/top_menu/images/synced_chat_base.png");
}
.Ping .TopMenuButtonColor {
	opacity: 0.8;
	animation-name: gold_glow;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes 'gold_glow' {
	0% {
		background-color: gradient(linear, 0% 100%, 0% 0%, from(#e28a2e), to(#fcd065));
	}
	25% {
		background-color: gradient(linear, 0% 120%, 0% 0%, from(#ccddff), to(#e6e8ef));
	}
	50% {
		background-color: gradient(linear, 0% 100%, 0% 0%, from(#e28a2e), to(#fcd065));
	}
	75% {
		background-color: gradient(linear, 0% 120%, 0% 0%, from(#ccddff), to(#e6e8ef));
	}
	100% {
		background-color: gradient(linear, 0% 100%, 0% 0%, from(#e28a2e), to(#fcd065));
	}
}

.Unfocussed .TopMenuButtonColor {
	animation-name: glow;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes 'glow' {
	0% {
		background-color: gradient(linear, 0% 120%, 0% 0%, from(#c81912), to(#ff0800));
	}
	25% {
		background-color: gradient(linear, 0% 120%, 0% 0%, from(#b6bacb), to(#e6e8ef));
	}
	50% {
		background-color: gradient(linear, 0% 120%, 0% 0%, from(#c81912), to(#ff0800));
	}
	75% {
		background-color: gradient(linear, 0% 120%, 0% 0%, from(#b6bacb), to(#e6e8ef));
	}
	100% {
		background-color: gradient(linear, 0% 120%, 0% 0%, from(#c81912), to(#ff0800));
	}
}

.Hidden {
	opacity: 0;
}
